body.dark {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Segoe UI, Arial;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 25px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card span {
  font-size: 28px;
  font-weight: bold;
}

.blue { background: linear-gradient(135deg, #0078d4, #00b4d8); }
.red { background: linear-gradient(135deg, #d90429, #ef233c); }
.green { background: linear-gradient(135deg, #2b9348, #55a630); }

button {
  background: #2563eb;
  border: none;
  padding: 12px 22px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: #1e293b;
}

tr:nth-child(even) {
  background: #020617;
}

.badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
}

.badge.normal {
  background: #064e3b;
  color: #a7f3d0;
}

.badge.anomaly {
  background: #7f1d1d;
  color: #fecaca;
}


/* LOGIN PAGE */
.login-container {
  max-width: 400px;
  margin: 100px auto;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 10px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

.login-container button {
  width: 40%;
  margin-top: 10px;
}

.error {
  color: #f87171;
}

.hint {
  font-size: 12px;
  color: #020617;
}


.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link .card {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-link .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.card.active {
  outline: 3px solid #ffffff55;
}


td:first-child {
  font-weight: bold;
  color: #93c5fd;
}


.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.pagination a {
  color: #93c5fd;
  text-decoration: none;
  font-weight: bold;
}

.pagination span {
  color: #e5e7eb;
}
